{% extends "base.html" %}

{% block content %}
<h1>New Album To Listen</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.artist.label }}<br>
            {{ form.artist(size=32) }}
            {% for error in form.artist.errors %}
            <span style="color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year(size=32) }}
            {% for error in form.year.errors %}
            <span style="color: red;">[{{ error}}]</span>
            {% endfor %}
        </p>
        <div>
          <input type ="submit" name="commit" value="Add Album">
      </div>
      <br>
      <div>
          <input type ="submit" name="another" value="Add Another Album">
      </div>
      <br>
      <div>
          <input type ="submit" name="sameartist" value="Add Another Album (Same Artist)">
      </div>
    </form>
{% endblock %}
