{% extends "base.html" %}

{% block content %}
    <table>
        <thead>
            <tr valign="top">
                <th>Rank</th>
                <th>Album</th>
                <th>Artist</th>
                <th>Year</th>
                <th>Last Played</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
                <td>{{ r.rank }}</td>
                <td>{{ r.title }}</td>
                <td>{{ r.artist }}</td>
                <td>{{ r.year }}</td>
                <td>{{ r.last_played.strftime('%Y-%m-%d') }}</td>
                <td><a href="{{ url_for('edit', id=r.id)}}">edit</a></td>
                <td><a href="{{ url_for('delete_favorite', id=r.id)}}">delete</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <div>
        <a href="{{ url_for('add_favorite') }}">Add Album</a>
        <a href="{{ url_for('export_favorites') }}"> Export to CSV</a>
    </div>
{% endblock %}
