{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        <p>{{ form.random() }}</p>
    </form>
    <div>
        <a href="{{ url_for('add_tolisten') }}">Add album to listen</a>
    </div>
    <hr>
    <table>
        <thead>
            <tr valign="top">
                <th>Album</th>
                <th>Artist</th>
                <th>Year</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
                <td>{{ r.title }}</td>
                <td>{{ r.artist }}</td>
                <td>{{ r.year }}</td>
                <td><a href="{{ url_for('edit_tolisten', id=r.id)}}">edit</a></td>
                <td><a href="{{ url_for('delete_tolisten', id=r.id)}}">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <div>
        <a href="{{ url_for('add_tolisten') }}">Add album to listen</a>
    </div>
{% endblock %}
